.score_bar {
	position: absolute;
	top: 200px;
	left: calc(50% - 400px);
	width: 800px;
	height: 100px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.score_bar .player_score {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-text-regular);
	font-size: 50px;
	color: white;
}

canvas {
	position: absolute;
	top: 450px;
	left: calc(50% - 400px);
	margin-bottom: 20px;
}


/* WAITING PAGE FOR THE GAME */

.waiting-game-infos {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.waiting-game-title {
	text-align: left;
}

.waiting-game-gif {
	width: 30em;
	height: 30em;
}

.choose-buttons {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	padding: 1em 0em;
}

.choose-btn, .practice-btn, .ranked-btn {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	.choose-btn-title {
		color: white;
	}
}

.choose-img, .choose-btn-title, .choose-btn-text {
    pointer-events: none;
}

.choose-img {
	border-radius: 0;
	width: 10em;
	height: 10em;
}

.choose-btn-title {
	font-size: 2em;
	font-family: var(--font-text-bold);
	margin: 0.8em 0em;
}

.choose-btn-text {
	font-size: 1.2em;
	font-family: var(--font-text-regular);
	color: var(--color-light);
}

.choose-back-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
	color: white;
	padding: 0.7em 1em;
	border-radius: var(--border-radius);
}

.fill_pong_space {
	height: 900px;
	width: 100%;
	display: block;
}

.game-buttons {
	margin-top: 100px;
}

.game-participant-list {
	width: 100%;
	position: absolute;
	top: 280px;
	left: 3%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.game-participant {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.game-participants-img {
	border-radius: 50%;
	width: 4em;
	height: 4em;
}

.game-participants-name {
	font-size: 2.5em;
	padding-left: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	text-wrap: nowrap;
}

.left {
	color: #E21E59;
}

.right {
	color: #1E90FF;
}

.top {
	color: #32CD32;
}

.bottom {
	color: #8A2BE2;
}

/* Reorganize choose game modes on mobile */
@media (max-width: 1000px) {	
	.choose-buttons {
		flex-direction: column;
		align-items: center;
		margin-top: 2em;
	}
	.choose-btn, .practice-btn, .ranked-btn {
		width: 80%;
		margin: 0;
		margin-bottom: 2em;
		padding: 1em;
	}

	.score_bar {
		left: 10%;
		width: 80%;
	}

	canvas {
		left: 10%;
		width: 80%;
		height: auto;
	}

	.fill_pong_space {
		height: calc(100vw + 100px);
	}

	.game-over {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.game-buttons {
		margin-top: 40px;
	}

	.game-participant-list {
		margin: 20px;
	}

	.game-participants-img {
		width: 2em;
		height: 2em;
	}
	.game-participants-name {
		font-size: 1.5em;
	}
}